{% extends "base.html" %}
{% block title %}Ajouter une Tâche{% endblock %}

{% block content %}
<h1 class="mb-4">Ajouter une Tâche</h1>

<form method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Titre *</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
    <a href="{{ url_for('task.show_tasks') }}" class="btn btn-secondary">Annuler</a>
</form>
{% endblock %}